{% extends 'base.html' %}
{% load static %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Muscle Target</th>
        <th scope="col">Secondary Target</th>
        <th scope="col">Muscle Group</th>
        <th scope="col">Push/Pull</th>
        <th scope="col">Difficulty Level</th>
        <th scope="col">Equipment</th>
        <th scope="col">Quantity</th>
        <th scope="col">Resistance Type</th>
        <th scope="col">Demo</th>
      </tr>
    </thead>
    <tbody>
      {% for exercise in exercise_list %}
      <tr>
        <th scope="row">{{ exercise.id }}</th>
        <td>{{ exercise.name }}</td>
        <td>{{ exercise.muscle_target }}</td>
        <td>{{ exercise.secondary_target }}</td>
        <td>{{ exercise.muscle_group }}</td>
        <td>{{ exercise.push_pull }}</td>
        <td>{{ exercise.difficulty_level }}</td>
        {% if exercise.equipment == True %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
        {% endif %}
        <td>{{ exercise.quantity }}</td>
        <td>{{ exercise.resistance_type }}</td>
        <td><img src="{{ exercise.demo_src }}" alt="Here"  width="30" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
